<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naga.mapper.CashRechargeAuditRecordMapper">

    <resultMap id="BaseResultMap" type="com.naga.domain.CashRechargeAuditRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="step" column="step" jdbcType="TINYINT"/>
            <result property="auditUserId" column="audit_user_id" jdbcType="BIGINT"/>
            <result property="auditUserName" column="audit_user_name" jdbcType="VARCHAR"/>
            <result property="created" column="created" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,status,
        remark,step,audit_user_id,
        audit_user_name,created
    </sql>
</mapper>
