<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naga.mapper.CoinRechargeMapper">

    <resultMap id="BaseResultMap" type="com.naga.domain.CoinRecharge">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="coinId" column="coin_id" jdbcType="BIGINT"/>
            <result property="coinName" column="coin_name" jdbcType="VARCHAR"/>
            <result property="coinType" column="coin_type" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="confirm" column="confirm" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="txid" column="txid" jdbcType="VARCHAR"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="lastUpdateTime" column="last_update_time" jdbcType="TIMESTAMP"/>
            <result property="created" column="created" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,coin_id,
        coin_name,coin_type,address,
        confirm,status,txid,
        amount,last_update_time,created
    </sql>
</mapper>
