<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naga.mapper.CoinServerMapper">

    <resultMap id="BaseResultMap" type="com.naga.domain.CoinServer">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="rpcIp" column="rpc_ip" jdbcType="VARCHAR"/>
            <result property="rpcPort" column="rpc_port" jdbcType="VARCHAR"/>
            <result property="running" column="running" jdbcType="INTEGER"/>
            <result property="walletNumber" column="wallet_number" jdbcType="BIGINT"/>
            <result property="coinName" column="coin_name" jdbcType="VARCHAR"/>
            <result property="mark" column="mark" jdbcType="VARCHAR"/>
            <result property="realNumber" column="real_number" jdbcType="BIGINT"/>
            <result property="lastUpdateTime" column="last_update_time" jdbcType="TIMESTAMP"/>
            <result property="created" column="created" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,rpc_ip,rpc_port,
        running,wallet_number,coin_name,
        mark,real_number,last_update_time,
        created
    </sql>
</mapper>
